# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nimab\Desktop\OsloMet\3.semester H20\Alg&Datastukturer\Oblig1-Algdat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
